@use "../../../styles/abstracts/colors" as colors;
@use "../../../styles/abstracts/variables" as variables;

.button {
  width: 100%;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0;
  border: 0;
  border-radius: 10px;
  font-family: variables.$font_family_kr;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:focus-visible {
    outline: 2px solid colors.$color_white;
    outline-offset: 3px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// 로그인 버튼
.button_primary {
  background: colors.$color_primary;
  color: colors.$color_white;

  // Card Title
  font-size: 16px;
  font-weight: variables.$font_weight_regular;

  &:hover:not(:disabled) {
    background: colors.$color_primary_dark;
  }
}

// Google 버튼
.button_google {
  background: colors.$color_white;
  color: colors.$color_black;
  font-size: 16px;
  font-weight: variables.$font_weight_bold;

  &:hover:not(:disabled) {
    background: colors.$color_primary_dark;
    color: colors.$color_white;
  }
}

// Mobile
@media (max-width: 600px) {
  .button {
    height: 40px;
  }

  .button_primary,
  .button_google {
    font-size: 14px;
  }
}
