// Font family
$font_family_kr: var(--font_pretendard), sans-serif;
$font_family_en: var(--font_lora), serif;

// Font weight
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;
