@use "../styles/abstracts/_colors.scss" as colors;

.home {
  width: 100%;
  min-height: 100vh;
  background-color: colors.$color_background_deep;
  overflow-x: clip;
}

.home_inner {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  box-sizing: border-box;
}

.home_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  width: 895px;
  max-width: 895px;
  gap: 30px;
}

.quick_menu_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
}

.home_sidebar_wrapper {
  display: flex;
  width: 285px;
  flex-shrink: 0;
  align-self: stretch;
}

/* 태블릿 */
@media (min-width: 481px) and (max-width: 1200px) {
  .home {
    padding-bottom: 80px;
  }

  .home_inner {
    display: block;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .home_content {
    width: 100%;
    max-width: 895px;
    margin: 0 auto;
  }

  .quick_menu_list {
    width: 100%;
    gap: 12px;
  }
}

/* 모바일 */
@media (max-width: 480px) {
  .home {
    padding-bottom: 85px;
  }

  .home_inner {
    display: block;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .home_content {
    width: 100%;
    max-width: 100%;
  }

  .quick_menu_list {
    width: 100%;
    gap: 12px;
  }
}
