@use "@/styles/abstracts" as *;

.layout {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -2;
}

.backgroundImage {
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(25, 28, 43, 0.45);
}

.content {
  position: relative;
  z-index: 1;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}
